apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homepage
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: {{ .Values.ingress.tlsSecretName }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: homepage-backend
            port:
              number: 8000
      - path: /secret-garden
        pathType: Exact
        backend:
          service:
            name: homepage-backend
            port:
              number: 8000
      - path: /health
        pathType: Exact
        backend:
          service:
            name: homepage-backend
            port:
              number: 8000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: homepage-frontend
            port:
              number: 80
